<section id="search-results">
	<div class="container">
		<div class= "row">
			<h4 class="light">Sua busca retornou <%=@jobs.count %> vagas</h4>
		</div>
		<div class="row">
			<% @jobs.each do |job| %>
				<div class="col s12 m6">
					<div class="card grey lighten-2 hoverable">
						<div class="card-content grey-text text-darken-2">
							<span class="card-title"><%=job.title %></span>
							<p class="light"><%=truncate(job.description, length: 100) %></p>
							<p>Empresa: <%=job.company %>, <%=job.location %></p>
						</div>
						<div class="card-action">
							<%= link_to "Saiba mais...", job_path(job) %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row center">
			
			<%= will_paginate @jobs, renderer: MaterializePagination::Rails  %>
		</div>
	</div>
</section>